.header {
    font-weight: 900;
    font-size: 150px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background: -webkit-linear-gradient(#444, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}
.header2 {
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.paragraph {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.active {
    background-color: #3387ff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}
.left {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.logo-img {
    width:200px;
    height: auto;
}

#centerbox {
    border: 3px solid #1C6EA4;
    margin:0 auto;
    position: relative;
    width: 375px;
    height: 667px;
    alignment: center;

    background: #FFFFFF;
}

.rangeslider{
    width: 50%;
}

.myslider {
    -webkit-appearance: none;
    background: #FCF3CF  ;
    width: 50%;
    height: 20px;
    opacity: 2;
}

.myslider:hover {
    opacity: 1;
}

.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E  ;
    width: 5%;
    height: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    text-align:center;
    background:linear-gradient(141deg, #cccccc 25%, #eeeeee 40%, #dddddd 55%);
    color: #555555;
    font-family:'Roboto';
    font-weight:300;
    font-size:24px;
    height:100vh;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -webkit-transform: translate3d(0,0,0);
}
.research {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 80%;
    margin: 10%;
    margin-top: 40px;
    float: left;
    align-content: center;
}
.research h1 {
    font-size: 1.3em;
    margin-bottom: 6px;
    text-decoration-color: black;
}
.research p {
    font-family: Montserrat;
    font-size: 0.9em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-indent: 50px;
    text-align: left;
    text-decoration-color: black;
}
